#pattern-controls-table td, #pattern-controls-table th {
    text-align: center;
}

#pattern-controls-table tr th:first-child {
    border-right: 2px solid #333333;
}

#pattern-controls-table tr:first-child th {
    border-bottom: 2px solid #333333;
}

#pattern-controls-table tr:first-child th:first-child {
    border: none;
}